node_modules/
package-lock.json
coverage
lib
!/src/lib
tests
!/src/tests
types
bin
!/src/bin
!/src/tests/bin
*.js
certs
routes
!/src/routes
!/src/lib/input/koorie/flag/routes/
!/src/lib/koorie/routes/
logs
sock
!vite.config.js